venv/
env/
__pycache__/


postgres_data/

.DS_Store
target/      
dbt_packages/
logs/

.env
.env.local
keys/
*.json  
venv/
dbt-env/
__pycache__/
*.pyc

# DBT
dbt_project/target/
dbt_project/logs/
dbt_project/dbt_packages/
# Ignore profiles.yml which may contain sensitive info
dbt_project/profiles.yml